:root {
    --main-color: #212121;
    --main-bright-color: #ffffff;
    --text-color: #757575;
    --style-color: #2196f3;
    --style-color2: #eeeeee;
    --black: #000000;
    --style-color3: #f5f4fa;
    --white: #ffffff;
    --second-background-color: #2f303a;
    --ttry: #ececec;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto';
    color: var(--main-color);
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
img {
    vertical-align: middle;
}
.title-clas {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.frist-section {
    background-color: var(--second-background-color);
    color: var(--main-bright-color);
    padding: 50px 0;
}
.frist-button {
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 0px;
    /* box-shadow: ; */
}
.third-section {
    background-color: var(--style-color3);
}
.footer-section {
    background-color: var(--second-background-color);
    padding: 60px 0;
}
.footer-section address {
    font-style: normal;
}
.footer-section ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.container a {
    text-decoration: none;
}

.link {
    font-weight: 500;
    line-height: 16px;
    color: var(--main-color);
    list-style-type: none;
}
.link-current {
    color: var(--style-color);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nasze-atuty {
    display: flex;
    gap: 30px;
}
.link:hover {
    color: var(--style-color);
}
.link:focus {
    color: var(--style-color);
}
.h2-tittle {
    font-family: 'Roboto';

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-color);
}
.link-kontakt {
    color: var(--text-color);
    font-weight: 500;
    cursor: pointer;
}
.link-kontakt:hover {
    color: var(--style-color);
}
.link-kontakt:focus {
    color: var(--style-color);
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--style-color);
    margin-right: 93px;
}
.log-dark {
    color: #000000;
}
.log-bright {
    color: var(--main-bright-color);
}
.buttons {
    display: flex;
    justify-content: center;
}
.buttons > li > button {
    font-family: 'Roboto';

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-color);
    background-color: var(--style-color3);
    cursor: pointer;
    border: none;
    padding: 6px 22px;
    border-radius: 4px;
    margin: 0 5px 30px 5px;
}
.buttons > li > button:hover,
.buttons > li > button:focus {
    color: var(--main-bright-color);
    background-color: var(--style-color);
}

.employees-name {
    font-weight: 500;
    font-size: 16px;
}
.employees-tittle {
    font-size: 16px;

    color: var(--text-color);
}
.adress-style {
    line-height: 1.7em;
    color: var(--main-bright-color);
}
.h3-tittle {
    font-family: 'Roboto';

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}
.h3-text {
    font-weight: 400;
    line-height: 1.7em;
    color: var(--text-color);
}
.our-project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
    /* margin: 20px 24px 4px 24px; */
}
.our-capabilities {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.85em;
    color: var(--text-color);
    margin: 4px 4px 20px 24px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.mail-class {
    text-decoration-line: underline;

    font-size: 14px;

    color: var(--text-color);
}
.mail-class:hover {
    color: var(--style-color);
}
.mail-class:focus {
    color: var(--style-color);
}
.buttons-set {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.cards > li > div {
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.header-wrapper {
    border-bottom: 1px solid #ececec;
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-wrapper nav {
    display: flex;
    align-items: center;
}
.header-wrapper .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 46px;
}
.nav-wrapper + div {
    display: flex;
    gap: 50px;
}
.ul-wrapper {
    display: flex;
    margin-left: 93px;
}
.ul-wrapper > li {
    margin-left: 46px;
    margin-bottom: 126px;
}
.cards-items {
    margin-top: 94px;
    margin-bottom: 94px;
}
